In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv("base_datos_2008.csv")

In [3]:
np.random.seed(0)
df = df[df["Origin"].isin(["HOU","ATL","IND"])]
df = df.sample(frac = 1)
df = df[0:10000]

In [4]:
df["BigDelay"] = df["ArrDelay"] > 30
observados = pd.crosstab(index = df['BigDelay'], columns = df['Origin'], margins = True)

In [5]:
observados

Origin     ATL   HOU  IND    All
BigDelay
False     6927   883  765   8575
True      1197   129   99   1425
All       8124  1012  864  10000

In [6]:
test = chi2_contingency(observados)

In [7]:
test

(8.939538453043031,
 0.17700704816414425,
 6,
 array([[ 6966.33,   867.79,   740.88,  8575.  ],
        [ 1157.67,   144.21,   123.12,  1425.  ],
        [ 8124.  ,  1012.  ,   864.  , 10000.  ]]))

In [8]:
esperados = pd.DataFrame(test[3])

In [9]:
esperados

         0        1       2        3
0  6966.33   867.79  740.88   8575.0
1  1157.67   144.21  123.12   1425.0
2  8124.00  1012.00  864.00  10000.0

In [10]:
esperados_rel = round(esperados.apply(lambda r: r/len(df)*100, axis = 1),2)

In [11]:
observados_rel = round(observados.apply(lambda r: r/len(df)*100, axis = 1),2)

In [12]:
observados_rel

Origin      ATL    HOU   IND     All
BigDelay
False     69.27   8.83  7.65   85.75
True      11.97   1.29  0.99   14.25
All       81.24  10.12  8.64  100.00

In [13]:
esperados_rel

       0      1     2       3
0  69.66   8.68  7.41   85.75
1  11.58   1.44  1.23   14.25
2  81.24  10.12  8.64  100.00

In [14]:
test[1]

0.17700704816414425

In [15]:
#Resumen de Test de Hipótesis
#Si el p-valor < 0.05, hay diferencias significativas: Hay relación entre variables
#Si el p-valor > 0.05, no hay diferencias significativas: No hay relación entre variables